
body {background: #7bb48a; font-family: "Poppins";}

h1 { color: rgb(255, 254, 254); text-shadow: 1px 1px 2px rgb(39, 36, 37); margin-top: 30px;
}

.header2 {
  background: rgb(23, 73, 55); text-align: center; width: 100%;
}

.header2 .navbar a{
  color: white;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.2rem;
}

.header2 .navbar a:hover{
  background: rgb(3, 54, 16);
}

p {
  font-size: large;
  font-weight: bold;
  background-color: #ffffffcb;;
  line-height: 30px;
  height: 200px;
  padding: 20px;
}

#remove { background-color: #7bb48a;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 10px; 
  }

  input[type=submit] {
    background-color: rgb(4, 38, 24);
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
  }

  input[type=submit]:hover {
    background-color: rgb(101, 175, 123);
  }

form { 
    margin-top: 10px;
    border-radius: 6px;
    background-color: #ffffff69;
    padding: 3px;
  }